/* css */
*,::before,::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
div.chess-board{
    /* border:10px solid black ; */
    width:fit-content;
    margin:auto;
}
div.box{
    width:90px;
    height: 90px;
    border:3px solid black;
    display: inline-block;
    margin:-2px;

}
div.black{
    background-color: black;
}